table {
  margin-top: 10px;
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */
mat-header-cell {
  justify-content: center;
}
.mat-column-select{
  /* flex: 0 0 5%; */
  justify-content: left;
}
.mat-column-codes {
  width: 50%;
}
.mat-column-price {
  justify-content: center;
  width: 50%;
}
.filter-row {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-auto-rows: 40px;
  grid-template-columns: 600px 200px 200px;
}
.pdf-button {
  grid-column: 3;
  grid-row: 1;
}

.filterUbication {
  max-width: 200px;
}

[hidden] {
  display: none !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  /* max-height: 500px; */
  min-width: 270px;
}

.mat-header-row-responsive {
  background-color: #f0f7fd;
}
.mat-row-responsive:nth-child(even) {
  background-color: #ffffff;
}

.mat-row-responsive:nth-child(odd) {
  background-color: #f6f6f6;
}

@media screen and (max-width: 425px) {
  .filter-row {
    display: block;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .mat-table-responsive {
    border: 0;
    vertical-align: middle;
  }

  .mat-table-responsive caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */

  .mat-table-responsive .mat-row-responsive {
    border-bottom: 5px solid #ddd;
    display: block;

    flex-direction: column;
    align-items: start;
    /* padding: 8px 24px; */
  }
  .mat-cell-responsive {
    padding: 5%;
  }

  .mat-table-responsive .mat-cell-responsive {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    /* margin-bottom: 4%; */
  }
  .mat-table-responsive .mat-cell-responsive:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 0.85em;
  }
  .mat-table-responsive .mat-cell-responsive:last-child {
    border-bottom: 0;
  }
  .mat-table-responsive .mat-cell-responsive:first-child {
    /* margin-top: 4%; */
    /* padding-top: 2%; */
  }
  .mat-header-row-responsive {
    display: none;
  }

  /* .mat-row-responsive:nth-child(even) {
    background-color: #ffffff;
  } */

  .mat-row-responsive:nth-child(odd) {
    background-color: #ffffff;
  }

  .mat-cell-responsive-id {
    background-color: #f0f7fd;
  }

  .mat-cell-responsive:nth-child(even) {
    background: #ffffff;
  }
  .mat-cell-responsive:nth-child(2n + 3) {
    background: #f6f6f6;
  }

  .light-effect {
    /* Define your light effect CSS styles here */
    box-shadow: 0 0 10px 2px rgba(3, 3, 3, 0.8);
  }
}

@media screen and (max-width: 960px) and (min-width: 426px) {
  .mat-table-responsive {
    border: 0;
    vertical-align: middle;
  }

  .mat-table-responsive caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table-responsive .mat-row-responsive {
    border-bottom: 5px solid #ddd;
    display: block;

    flex-direction: column;
    align-items: start;
    /* padding: 8px 24px; */
  }
  .mat-cell-responsive {
    padding: 2%;
  }

  .mat-cell-responsive-checkbox {
    /* justify-content: center;
    align-items: center; */
    margin-top: -50px;
  }

  .mat-table-responsive .mat-cell-responsive {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    /* margin-bottom: 4%; */
  }
  .mat-table-responsive .mat-cell-responsive:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 0.85em;
  }
  .mat-table-responsive .mat-cell-responsive:last-child {
    border-bottom: 0;
  }
  .mat-table-responsive .mat-cell-responsive:first-child {
    /* margin-top: 4%; */
    /* padding-top: 2%; */
  }
  .mat-header-row-responsive {
    display: none;
  }

  /* .mat-row-responsive:nth-child(even) {
    background-color: #ffffff;
  } */

  .mat-row-responsive:nth-child(odd) {
    background-color: #ffffff;
  }

  .mat-cell-responsive-id {
    background-color: #f0f7fd;
  }

  .mat-cell-responsive:nth-child(even) {
    background: #ffffff;
  }
  .mat-cell-responsive:nth-child(2n + 3) {
    background: #f6f6f6;
  }

  .light-effect {
    /* Define your light effect CSS styles here */
    box-shadow: 0 0 10px 2px rgba(3, 3, 3, 0.8);
  }
}
