<div class="filter-row">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ubicacion</mat-label>
      <input type="text" placeholder="Selecciona un ambiente" aria-label="Ubicacion" matInput
        [formControl]="selectedUbication" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option._id) {
        <mat-option [value]="option.name">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="getAllAppraisalsByUbication(selectedUbication)">Buscar
    ambiente</button>
  <button mat-raised-button class="pdf-button" color="warn" (click)="openPdfModal()" [disabled]="AppraisalSelected.selected.length === 0" >
    Descargar Pdf
  </button>
</div>
@if (AppraisalSelected.selected.length > 0) {
<div style="color: grey;">Seleccionados: {{AppraisalSelected.selected.length }} / 30</div>
}


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataTasation" class="mat-table-responsive">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="AppraisalSelected.hasValue() && ischeckboxFullLength()"
          [indeterminate]="AppraisalSelected.hasValue() && !ischeckboxFullLength()"
          [disabled]="!dataTasation.data.length">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Seleccionar" class="mat-cell-responsive">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? AppraisalSelected.toggle(row) : null"
          [checked]="AppraisalSelected.isSelected(row)"
          [disabled]="AppraisalSelected.selected.length === 30 && !AppraisalSelected.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="appraisalCode">
      <mat-header-cell *matHeaderCellDef> Código de Tasación </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Código de Tasación"
        class="mat-cell-responsive mat-cell-responsive-id">
        {{element.appraisalCode}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="bullet">
      <mat-header-cell *matHeaderCellDef> Viñeta </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Viñeta" class="mat-cell-responsive"> {{element.bullet}}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ubication">
      <mat-header-cell *matHeaderCellDef> Ubicación </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.ubication?.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="article">
      <mat-header-cell *matHeaderCellDef> Grupo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.article?.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subGroup">
      <mat-header-cell *matHeaderCellDef> Sub Grupo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.subGroup?.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.detail}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.state?.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.Va}} Bs.
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Acciones" class="mat-cell-responsive">
        <mat-menu #appMenu="matMenu">
          <ng-template matMenuContent>
            <button mat-icon-button (click)="openDetail(element)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button (click)="openEditModal(element)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteModal(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row class="mat-header-row-responsive" *matHeaderRowDef="columnsToDisplayWithExpand"></mat-header-row>
    <mat-row class="mat-row-responsive" *matRowDef="let row; columns: columnsToDisplayWithExpand;"
      [ngClass]="{ 'light-effect': AppraisalSelected.isSelected(row) }"></mat-row>



  </table>

  <table>
    <tr *ngIf="!dataTasation.filteredData.length">
      <td style="text-align: center;" [attr.colspan]="columnsToDisplayWithExpand.length">
        No hay datos en este ambiente
      </td>
    </tr>
  </table>
  <mat-paginator [hidden]="!dataTasation.filteredData.length" [pageSizeOptions]="[30, 50, 100]"
    aria-label="Select page of appraisal"></mat-paginator>
</div>
