table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.filter-row {
  display: flex;
  max-width: 600px;
  justify-content: space-around;
  align-items: center;
}

.filterUbication {
  max-width: 200px;
}
