<div class="filter-row">
  <mat-form-field class="filterUbication">
    <mat-label>Elije la ubicacion</mat-label>
    <mat-select [(ngModel)]="selectedUbicationId">
      @for (ubicaction of ubicationData; track ubicaction) {
        <mat-option [value]="ubicaction._id">{{ubicaction.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getAllAppraisalsByUbication(selectedUbicationId)">Buscar ambiente</button>
</div>

@if (dataTasation.filteredData.length > 0) {
<div class="mat-elevation-z8" >

  <table mat-table [dataSource]="dataTasation" class="mat-table-responsive">
    <ng-container matColumnDef="appraisalCode">
      <mat-header-cell *matHeaderCellDef> Código de Tasación </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Código de Tasación"
        class="mat-cell-responsive mat-cell-responsive-id">
        {{element.appraisalCode}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="bullet">
      <mat-header-cell *matHeaderCellDef> Viñeta </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Viñeta" class="mat-cell-responsive"> {{element.bullet}}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ubication">
      <mat-header-cell *matHeaderCellDef> Ubicación </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ubicación" class="mat-cell-responsive"> {{element.ubication.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Acciones" class="mat-cell-responsive">
        <mat-menu #appMenu="matMenu">
          <ng-template matMenuContent>
            <button mat-icon-button (click)="openDialog(element)">
              <mat-icon >create</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon >delete</mat-icon>
            </button>
          </ng-template>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon >more_vert</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row class="mat-header-row-responsive" *matHeaderRowDef="columnsToDisplayWithExpand"></mat-header-row>
    <mat-row class="mat-row-responsive" *matRowDef="let row; columns: columnsToDisplayWithExpand;"></mat-row>



  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of appraisal"></mat-paginator>

</div>
}