.responsive-image {
  min-width: 120px;
  max-width: 350px;
  min-height: 120px;
  max-height: 500px;
  float: left;
  /*  margin: 3px;
  padding: 3px; */
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  /* padding-top: 2.5%;
  padding-left: 2.5%; */
  width: 100%;
  height: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header div {
  margin-right: 10px; /* Add spacing between input fields */
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  margin-right: 5px;
}

.aboutArticle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.aboutArticle div {
  margin-right: 10px; /* Add spacing between input fields */
}

.inputHorizontal {
  display: flex;
  flex-direction: row;
}
.inputHorizontal p {
  margin-right: 10px; /* Add spacing between input fields */
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer div {
  margin-right: 10px; /* Add spacing between input fields */
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.imagesContainer img {
  margin-left: 10px; /* Add spacing between input fields */
}

@media screen and (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    /* padding-top: 2.5%;
    padding-left: 2.5%; */
  }

  .imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .imagesContainer img {
    margin-top: 10px; /* Add spacing between input fields */
    margin-bottom: 10px;
  }

  .responsive-image {
    min-width: 120px;
    max-width: 350px;
    min-height: 120px;
    max-height: 500px;
    float: left;
    /*  margin: 3px;
    padding: 3px; */
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 960px) and (min-width: 426px) {
  .imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .imagesContainer img {
    margin-top: 10px; /* Add spacing between input fields */
    margin-bottom: 10px;
  }

  .responsive-image {
    min-width: 120px;
    max-width: 350px;
    min-height: 120px;
    max-height: 500px;
    float: left;
    /*  margin: 3px;
    padding: 3px; */
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
