<form [formGroup]="AppraisalArticleData">
  <div class="header">
    <h1 mat-dialog-title>Editar Articulo</h1>
    <section class="example-section" mat-dialog-title>
      <mat-slide-toggle formControlName="useFormule">
        @if (!AppraisalArticleData.value.useFormule) {
          Con Formula
        } @else {
          Sin Formula
        }

      </mat-slide-toggle>
    </section>
  </div>
  <div mat-dialog-content class="container">
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Codigo de tasacion</mat-label>
      <input matInput formControlName="appraisalCode">
    </mat-form-field>
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Viñeta</mat-label>
      <input matInput formControlName="bullet">
    </mat-form-field>
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Fecha</mat-label>
      <input matInput formControlName="date">
    </mat-form-field>
    <app-autocomplete-filter
      [control]="selectedUbication"
      [data] = "ubicationData"
      Label = "Ubicacion"
      placeholder="Seleccione el ambiente" class="inputDropdown"></app-autocomplete-filter>
    <app-autocomplete-filter
      [control]="selectedArticle"
      [data] = "articleData"
      Label = "Articulos"
      placeholder="Seleccione el articulo" class="inputDropdown"></app-autocomplete-filter>
      <app-autocomplete-filter
      [control]="selectedSubGroup"
      [data] = "subGroupData"
      Label = "Sub Grupo"
      placeholder="Seleccione el sub grupo" class="inputDropdown"></app-autocomplete-filter>
      <mat-form-field class="inputDropdown">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="state" name="state" (selectionChange)="changeK2()">
          @for (state of stateData; track state) {
            <mat-option [value]="state._id">{{state?.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    <mat-form-field class="inputDetail" appearance="outline">
      <mat-label>Detalle</mat-label>
      <input matInput formControlName="detail">
    </mat-form-field>
    <mat-form-field class="inputDescription" appearance="outline">
      <mat-label>descripcion</mat-label>
      <textarea matInput rows="6" formControlName="description"> </textarea>
    </mat-form-field>
    @if(!AppraisalArticleData.value.useFormule) {
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Vre</mat-label>
      <input type="number" matInput formControlName="vre" (change)="calcVr()">
    </mat-form-field>
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Vr</mat-label>
      <input type="number" matInput formControlName="vr">
    </mat-form-field>
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>Ant</mat-label>
      <input type="number" matInput formControlName="ant" (change)="calcK1a()">
    </mat-form-field>
    <mat-form-field class="inputSmall" appearance="outline">
      <mat-label>vexp</mat-label>
      <input type="number" matInput formControlName="vexp" (change)="calcK1a()">
    </mat-form-field>
    <mat-form-field class="inputSmall">
      <mat-label>K1a</mat-label>
      <input type="number" matInput formControlName="K1a">
    </mat-form-field>
    <mat-form-field class="inputSmall">
      <mat-label>Va</mat-label>
      <input type="number" matInput formControlName="Va">
    </mat-form-field>
  } @else {
    <mat-form-field class="inputVrep" appearance="outline">
      <mat-label>Valor de reposicion</mat-label>
      <input type="number" matInput formControlName="replacementValue">
    </mat-form-field>
  }
  </div>
</form>
  <div mat-dialog-actions class="buttons">
    <button mat-raised-button color="warn" class="btnSize" (click)="cancelClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btnSize" (click)="updateAppraisal()">Actualizar</button>
  </div>

