<div class="example-container  mat-elevation-z8">

    <mat-table [dataSource]="ubicationData" matSort class="mat-table-responsive">

        <!-- ID Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Código de ubicación </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ubicationCode"
                class="mat-cell-responsive mat-cell-responsive-id">
                {{row.code}}
            </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="ubication">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ubication" class="mat-cell-responsive"> {{row.name}}
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="detail">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sub grupo </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="detail" class="mat-cell-responsive">
                {{row.detail}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="actions" class="mat-cell-responsive">
                <mat-icon fontIcon="create"></mat-icon>
                <mat-icon fontIcon="delete"></mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row class="mat-header-row-responsive" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="mat-row-responsive" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>